/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#about{
    width: 80%;
    margin-left: 150px;
    margin-bottom: 150px;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    line-height: 1.5;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p{
    font-family: 'Comfortaa', cursive;
}

.logo{
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 50px;
}
img{
    text-decoration: none;
    width: 150px;
    height: 50px;
    padding-top: 4px;
    margin-left: 50px;
}
a{
    text-decoration: none;
}
a:hover{
    color: #fff;
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 25px;
    font-family: 'Comfortaa', cursive;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 300;
  }
  
  nav ul li {
    margin: 40px;
  }
  nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    color: white;
    font-weight: bold;
    border-bottom: 2px solid #ffffff;
}

  
  .search-bar {
    position: relative;
    display: flex;
  }
  
  .search-bar input[type="text"] {
    border-radius: 20px;
    border: 2px solid #00ffff;
    padding: 8px 16px;
    margin-right: 5px;
    background-color: #2b2b2b;
    background-repeat: no-repeat;
    color: white;
  }


header {
    width: 100%;
    height: 840px;
    background-image: url(/assets/CoverImage/logic_no_pressure_home_cover_image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: white;
}

.hero-content p {
    margin: 0;
    font-weight: bold;
    font-size: larger;
}

.overlay {
    width: 100%;
    height: 840px;
    background-color: rgba(0, 0, 0, 0.1);
    padding-left: 10%;
    padding-top: 250px;
}

.button-group {
    width: 400px;
    height: 50px;
}

.button {
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    font-weight: bold;
    float: left;
    margin-top: 10px;
    border-radius: 25px;
    margin-right: 10px;
}

.normal {
    background-color: #00ffff;
    color: #000000;
}

.inverted {
    border: 2px solid #00ffff;
    padding-top: 5px !important;
}

.normal:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #00ffff;
}

.inverted:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
}

.icon-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    position: absolute;
    left: 85%;
    top: 24%
  }
  
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #333;
    color: #000000;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  .icon:hover {
    background-color: #ffffff;
    border: 2px solid #00ffff;
  }
  
  .left {
    margin-right: 10px;
  }
  
  .right {
    margin-left: 10px;
  }

.container {
    position: relative;
}
.heart{
    height: 70px;
}

h3 {
    color: #fff;
}

.col-box {
    width: 277px;
    height: 277px;
    background-color: lightgray;
    margin-top: 25px;
    color: red;
}


.man_on_the_moon {
    width: 277px;
    height: 277px;
    background-image: url(../assets/AlbumCovers/man_on_the_moon_album_cover.png);
    background-position: center;
    background-size: cover;
    margin-top: 25px;
}

.blame_it_on_baby {
    width: 277px;
    height: 277px;
    background-image: url(../assets/AlbumCovers/blame_it_on_baby_album_cover.png);
    background-position: center;
    background-size: cover;
    margin-top: 25px;
}

.happy_thoughts {
    width: 277px;
    height: 277px;
    background-image: url(../assets/AlbumCovers/happy_thoughts_album_cover.png);
    background-position: center;
    background-size: cover;
    margin-top: 25px;
}

.music_to_be_murdered_by {
    width: 277px;
    height: 277px;
    background-image: url(../assets/AlbumCovers/music_to_be_murdered_by_album_cover.png);
    background-position: center;
    background-size: cover;
    margin-top: 25px;
}

.low_end_theory {
    width: 277px;
    height: 277px;
    background-image: url(../assets/AlbumCovers/low_end_theory_album_cover.png);
    background-size: cover;
    margin-top: 25px;
}

.wu_tang {
    width: 277px;
    height: 277px;
    background-image: url(../assets/AlbumCovers/wu_tang_album_cover.png);
    background-position: center;
    background-size: cover;
    margin-top: 25px;
}

.to_pimp_a_butterfly {
    width: 277px;
    height: 277px;
    background-image: url(../assets/AlbumCovers/to_pimp_a_butterfly_album_cover.png);
    background-position: center;
    background-size: cover;
    margin-top: 25px;
}

.revenge {
    width: 277px;
    height: 277px;
    background-image: url(../assets/AlbumCovers/revenge_album_cover.png);
    background-position: center;
    background-size: cover;
    margin-top: 25px;
}

.kod {
    width: 277px;
    height: 277px;
    background-image: url(../assets/AlbumCovers/kod_album_cover.png);
    background-position: center;
    background-size: cover;
    margin-top: 25px;
}

.no_pressure {
    width: 277px;
    height: 277px;
    background-image: url(../assets/AlbumCovers/no_pressure_album_cover.png);
    background-position: center;
    background-size: cover;
    margin-top: 25px;
}

.circles {
    width: 277px;
    height: 277px;
    background-image: url(../assets/AlbumCovers/circles_album_cover.png);
    background-size: cover;
    margin-top: 25px;
}

.kanye {
    width: 277px;
    height: 277px;
    background-image: url(../assets/AlbumCovers/kanye_album_cover.png);
    background-position: center;
    background-size: cover;
    margin-top: 25px;
}


.art {
    width: 277px;
    height: 277px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 80px;
    opacity: 0%;
    color: #fff;
}

.overlay:hover {
    cursor: pointer;
    opacity: 1;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #00ffff;
    border-radius: 50%;
    margin: 0 auto;
}

.content {
    width: 225px;
    height: 30px;
    margin-top: 50px;
    color: white;
    font-family: sans-serif;
    padding-top: 9px;
}

.content h3,
p {
    margin: 0;
}

.music-video {
    z-index: 1;
    margin-top: 50px;
    margin-bottom: 30px;
    margin: 0 auto;
    margin-left: 25%;
    
}

.text {
    z-index: 2;
    width: -100%;
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 10%;
    background-color: rgba(82, 123, 177, 0.3);
    color: white;
    
}

.text p {
    margin-top: 20px;
}

.text h2 {
    font-size: 25px;
    font-style: italic;
}

.playlist{
    float: left;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}

/* Table styles */

table {
    width: 84%;
    height: 470px;
    border-collapse: collapse;
    font-weight: lighter;
    font-size: small;
    margin-left: 122px;
    margin-right: 122px;
    color: #ffffff;
    position: relative;
    font-family: 'Comfortaa', cursive;
}

table th,
table td {
    border: none;
    
    
}
table th {
    text-align: justify;
}
th{
    font-weight: bold;
    
}
tr{
    padding-right: 40px;
}
th, td {
    padding: 10px;
}

.song-table{
    padding-right: 40px;
}

.song-list{
    border-bottom: 2px solid #333;
}

#border-bottom{
    border-bottom: 3px solid #00ffff;
}

.col-5 {
    width: 40%;
    height: 470px;
    background-image: url(../assets/AlbumCovers/my_favourite_mix_album_cover.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    margin-top: 25px;
    font-weight: 700;
}

.col-6{
    width: 50%;
    color: white;
    

}

.col-7 {
    width: 75%;
}
.about-page{
    width: 100%;
    margin-top: 85px;
}
.in-touch{
    background-color: #273a4da2;
    

}
.about-us, .in-touch{
    padding: 30px;
    
}
form{
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    padding-left: 5%;
    justify-content: center;
}
.input-elm{
    width: 90%;
    height: 50px;
    border-radius: 25px;
    padding-left: 15px;
    margin-top: 20px;
    border: none;
    background-color: #000000;
    color: white;
}

button{
    background-color: #00ffff !important;
    color: #000000 !important;
    text-align: center;
}

.fButton{
    width: 25%;
    text-align: center;
    float: right;
    margin-right: 60px;
    padding-right: 15px;
}

.map-wrapper{
    width: 100%;
    height: 200px;
}

#message{
    height: 100px;
}

footer {
    color: #fff;
    padding: 20px;
    margin-top: 25px;
}
.footer-icons {
    display: flex;
    justify-content: right;
    color: #fff;
    margin-top: 0;
    margin-right: 155px;
}
.fa {
    width: 50px;
    height: 50px;
    padding: 13px;
    font-size: 20px;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
  
    border-radius: 50%;
    border: 2px solid #ffffff;
  }
  
  .fa:hover {
      opacity: 0.7;
      color: #000000;
  }
  
  .fa-facebook {
    border-radius: 50% #ffffff;
    color: white;
  }
  
  .fa-twitter {
    border-radius: 50% ;
    color: white;
  }
  
  .fa-youtube {
    border-radius: 50% #ffffff;
    color: white;
  }
  
  .fa-instagram {
    border-radius: 50% #ffffff;
    color: white;
  }


  

/* Login form styles */

/*

input[type="text"], input[type="password"] {
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    display: block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #00ffff;
}
*/